/* html, 
body,
.grid {
    height: 100%;
    width: 100%;
    margin: 0;
} */

div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}

.vl.diagramSeparator {
    border-left: 1px solid white;
    height: 100%;
}
.divider{
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    width: 1px;
    background-color: red;
}
hr.diagramSeparator
{
  background:white;
  margin-bottom:0px;
  margin-top:0px;
  width: 100vw;  
}

.diagramCtrCentBtn
{
    margin-left:25px;
}

hr.diagramSeparator.yAxisSeparator
{

}

.yAxisSepContainer
{
    margin:0px;
}
 
.impactLevelOuterContainer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    table-layout:fixed;
    z-index: 10000;
  }
  
.impactLevelMiddleContainer {
    display: table-cell;
    vertical-align: middle;
}

.impactLevelInnerContainer {
    margin-left: auto;
    margin-right: auto;
/*     width: 400px; */
/*whatever width you want*/
}
rect{
    background:white ! important;  
}

.logGrid {
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 20% 20%;
}

div.mxRubberband {
	position: absolute;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
	background: #0077FF;
}
.axisHeader 
{
    text-align:center;
}
.modal-xl
{
  max-width:1800px !important;
}
.radioContainer
{
    text-align:left;
}
.radioInput
{
    margin-right:10px;
}
#toolbar
{
    height:500px;
    width:200px;
}
.mainContainer
{
    padding-left: 5px;
}
.impactHeader
{
    color:black;
    transform: rotate(90deg);
/*     padding-left: 15px; */
}

.impHeadOutContainer
{
    /* min-height:100%; */
    color:black;
    padding:0px !important;
}

.impactHeaderBackground
{
    margin-left:0px !important;
/*     margin-right:0px  !important; */
    background:#FAFAD2;
}

.xAxisBottom
{
    padding-left:0px !important;
    padding-right:0px !important;
}

.impactHeaderContainer
{
    text-align: center;
    min-height:100%;
}

.impactDescriptionContainer .impactDescColumn
{
    padding: 0px;
}

.col-md.yAxisContainer
{
    width: 12%;
    max-width:12%;
}

.col-md.centerAxisBottom
{
 /*    width: 10%;
    max-width:10%; */
}

.graph-container
{
/*     background-color: lightgray; */
}

.xAxisLevelHeader
{
    font-weight:bold;
}
 
.xAxisLevelContainer
{
    padding-left: 0px !important;
    padding-right: 0px !important;

    
    margin-left:0px !important;
    margin-right:0px !important;
}
.likeliHoodTextContainer
{
    color:black;
    text-align: center;
   /*  padding-top: 15px; */
    padding-right: 0px !important;
/*     padding-bottom: 15px; */
    padding-bottom:  0px !important;
    padding-top:  0px !important;
    padding-left: 0px !important;
    
    background:#ADD8E6;
    margin-bottom:0px !important;
    margin-left:0px !important;
    margin-right:0px !important;
}
.likeliHoodHeaderContainer 
{
    margin-left: 0px !important;
}
.xAxisPercentText
{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline;
  text-align:center;
  color:black;
  margin:0px;
}
.yAxisPercentText
{
  display: block;
  text-align:center;
  color:black;
  margin:0px;
}
.axisLevelName
{
    font-weight:bold;
}
.form-group.dashboardBottom
{
    margin-bottom: 0px;
}
.likeliHoodHeaderTextContainer
{
    height:100%;
}
.likeliHoodHeaderOuterContainer
{
    padding-left:0px !important;
    width:100%;
    margin-left: 0px !important;
   /*  margin-bottom: '0px'; */
}

#likeliHoodHeaderOuterContainer
{
    margin-bottom:0px !important;
}
.likeliHoodHeaderInnerContainer
{
    padding-left:0px !important;
    width:100%;
    padding-right:0px !important;
}
.form-group.row.dashboardTopMenu
{
    height:5%;
    margin-bottom:12px;
    padding-left:15px;
}
.form-group.row.dashboardTop
{
    height:70%;
}
.form-group.row.dashboardTop.Log
{
    margin-bottom:0px;
}
.dashboardBottom
{
   /*  height:20%; */
   height:110px;
}
.dashboardBottom.Log
{
    height:auto;
}

.mxGraphMessageSummary
{
    min-height:120px;
    height:100%;
}

.MxGraphMessageSummaryRow
{
    min-height:90px;
    display: block;
}

.centerFrameItem
{
    padding-right:5px !important;
    padding-left:5px !important;
}
.centerFrameItemLeft
{
    padding-left:5px !important;
}
.modal-title
{
    color:black;
}
.modal-body
{
    color:black;
}
.smallButton{
   width:100px;
   min-width:100px;
}

.noBorder
{
    border:none !important;
}

.noPadding
{
    padding:0px !important;
}
 
.inline
{
    display:inline !important;
}

.faContainer
{
    width:15px;
}

.faLgContainer
{
    max-height:10px;
}


.btn.standardElement{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left:initial;
    padding-right:initial;
}
.fillHeight
{
    height:100%;
}
.hidden
{
    display: none;
}
.lowRiskImpact
{
    background:#b4ffb4;
}
.highRiskImpact
{
    background:#feb0af;
}

.riskImpactColorGradientHoriz
{
    background: linear-gradient(90deg, rgba(180,255,180,1) 0%, rgba(254,176,175,1) 100%);
    color: black;
}

.riskImpactColorGradientVert
{
    background: linear-gradient(360deg, rgba(180,255,180,1) 0%, rgba(254,176,175,1) 100%);
    color: black;
}
.axisAdd
{
    padding-left:0px;
}
.centerText
{
    text-align:center;
}
.center {
    margin: auto;
}

.impactText
{
    width:80%;
}

.verticalImpactRow
{
    /*max-width:90%;*/
}
